@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: linear-gradient(7.13deg, #1D1D1F 30.02%, #404058 99.46%);
    font-family: "Poppins";
}

.white-border  {
    color: #000;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF,  0 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.eagis-top{
    z-index: 1000;
}

.eagis-circle {
    margin-top: -100px;
    z-index: 0;
}
